In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('nam_auto.csv')

# Exploring the data

In [4]:
data.head()

,index,url,price,make,model,variant,reg,previous-owners,mpg,colour,interior-colour,exterior-colour,doors,fuel-type,bodystyle,mileage,engine-size,transmission
0,0,https://www.namauto.com/cars/10383024-smart-fo...,"N$ 59,999",smart,forfour,A/T,USED,1.0,NaN,Blue,greenise,blue/siler,5,Petrol,Hatchback,"51,000 km",0.9 l,Automatic
1,1,https://www.namauto.com/cars/10382656-volkswag...,"N$ 74,999",Volkswagen,up!,up! 5-door 1.0,USED,1.0,NaN,Silver,grey,silver,5,Petrol,Hatchback,"54,800 km",1 l,Manual
2,2,https://www.namauto.com/cars/10384367-fiat-str...,"N$ 75,000",Fiat,Strada,1.4 WORKING,BASSON,1.0,NaN,White,Grey,White,2,Petrol,Bakkie Single Cab,"155,000 km",1.4 l,Manual
3,3,https://www.namauto.com/cars/10443953-honda-ci...,"N$ 75,000",Honda,Civic,2.2 CDTi VXi 5dr,USED,1.0,NaN,Blue,BLACK,Dark Blue,5,Diesel,Hatchback,"161,000 km",2.2 l,Manual
4,4,https://www.namauto.com/cars/10443516-datsun-g...,"N$ 95,900",Datsun,GO,1.2 LUX,USED,1.0,NaN,Silver,grey,Silver,5,Petrol,Hatchback,"31,000 km",1.2 l,Manual

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 18 columns):
index              1177 non-null int64
url                1177 non-null object
price              1177 non-null object
make               1177 non-null object
model              1177 non-null object
variant            1177 non-null object
reg                1177 non-null object
previous-owners    633 non-null float64
mpg                123 non-null object
colour             1175 non-null object
interior-colour    963 non-null object
exterior-colour    1131 non-null object
doors              1161 non-null object
fuel-type          1157 non-null object
bodystyle          1177 non-null object
mileage            1078 non-null object
engine-size        1159 non-null object
transmission       1148 non-null object
dtypes: float64(1), int64(1), object(16)
memory usage: 165.6+ KB

# Preparation of data

In [6]:
def missing_percentage(df):
    total = df.isnull().sum().sort_values(ascending=False)[df.isnull().sum().sort_values(ascending = False) != 0]
    perc = round(df.isnull().sum().sort_values(ascending=False) / len(df) * 100)[df.isnull().sum().sort_values(ascending = False) != 0]
    return pd.concat([total, perc], axis=1, keys=['Total', 'Percent'])

In [7]:
missing_percentage(data)

                 Total  Percent
mpg               1054     90.0
previous-owners    544     46.0
interior-colour    214     18.0
mileage             99      8.0
exterior-colour     46      4.0
transmission        29      2.0
fuel-type           20      2.0
engine-size         18      2.0
doors               16      1.0
colour               2      0.0

Price cleaning

In [35]:
def trim_data(df):
    return df.replace(r'N', '').replace('$', '').replace(',','')

In [51]:
data['price'] = data['price'].apply(trim_data)

Make cleaning

In [79]:
def clean_make(text):
    if text.contains("merc"):
        return "Mercedes-Benz"
    return text

In [80]:
data['make'].apply(lambda x: clean_make(x))

AttributeError: 'str' object has no attribute 'contains'